<% provide(:title, 'FAQ') %>
<h1>FAQ</h1>

<p>
	<ol>
		<li>What is hooplays?</li>
		<li>How do I leave a review?</li>
		<li>How do I sign up as an artist?</li>
		<li>What do I do if I can't remember when I saw the musician/band?</li>
	</ol>
</p>
	
