<h1>Hooplays</h1>
<p> Static pages home page. Why did my CSS background color work? When I remove my custom styleheet, the color goes away. So I think if there are no styles in the static_pages.css.scss my view takes whatever styles are in the stylesheets even if there is no direct reference to the stylesheet in the view html code.</p>

