<% provide(:title, 'Home') %>
<!DOCTYPE html>
<h1>Hooplays</h1> 


<p> This is the hooplays home page.<br><br>
Dev Questions/Answers:<br><br>

The CSS stylesheet style.css is being deferred to right now because of the link to stylesheet in the application.html.erb layout. If I removed either the style.css file or the link to the stylesheet in application.html.erb, I loose the background color.
</p>
	